<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" sizes="128x128" href="/favicons/icon-128.jpg">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("dist/app.css") }}">
            <link rel="stylesheet" href="{{ asset("dist/admin.css") }}">
        {% endblock %}
    </head>
    <body>
        {% set route = app.request.get('_route') %}

        <div class="admin-header">
            <a href="{{ path('admin_home') }}" class="logo">
                <img src="{{ asset("images/logo1.jpg") }}" alt="logo">
            </a>

            <drop-down class="js-dropdown">
                <a href="#categorie" class="dropdown-toggle" id="category-link"><i class="fas fa-user-circle mr-1"></i>{{ app.user.mail }}</a>
                <div class="dropdown-content box" hidden>
                    <div class="text-center" style="font-size: 2em; line-height:1.4em">
                        <i class="fas fa-user-circle mr-1"></i>
                    </div>
                    <div class="line"></div>
                    <a href="#">Paramètre compte</a>
                    <div class="line"></div>
                    <a href="{{path("app_logout")}}" onclick=" return confirm('souhaite vous vraiment deconnecter?')">Déconnéxion</a>
                </div>
            </drop-down>
        </div>
        <ul class="admin_nav">
            <li class="admin_nav-item {% if ('_product_' in route) or ("_home" in route) %}active{%endif%}"><a href="{{ path('admin_home') }}">Produits</a></li>
            <li class="admin_nav-item  {% if ('_account' in route) %}active{%endif%} "><a href="{{ path('admin_account') }}">Compte</a></li>
            <li class="admin_nav-item"><a href="{{ path('app_home') }}" target="_blank">Espace client</a></li>
        </ul>

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset("dist/app.js")}}"></script>
            <script src="{{ asset("dist/admin.js")}}"></script>
        {% endblock %}
    </body>
</html>
