{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="section-title text-left">Details produit</div>

    <div class="product-layout mt-2">
        <div class="product">
            <div class="relative">
                <a href="{{vich_uploader_asset(product)}}" class="card-link" target="_blank"></a>
                <img src="{{ vich_uploader_asset(product) | imagine_filter('large') }}" alt="produit-{{ product.id }}" class="product-img">
            </div>
            <div class="product-description">
                <h3 class="text-primary capitalize">{{ product.name }}</h3>
                <h4 class="text-secondary">{{ product.getFormatedPrice() }} Ariary</h4>
                <div class="line my-2"></div>
                <h6 class="text-primary">Matières</h6>
                <span>{{ product.matter }}</span>
                <div class="line my-2"></div>
                <h6 class="text-primary">Couleur disponible</h6>
                <span>{{ product.colors }}</span>
            </div>
        </div>
        <div class="box">
            <p>
                N'hésitez pas à nous contacter dès maintenant pour vos commandes spéciales et laissez-nous transformer votre idée en réalité.
            </p>
            <p>
                <a href="mailto:artiamourhw@gmail.com" class="icon-roundend link"><i class="far fa-envelope"></i></a>
                <a href="#lien-facebook" class="icon-roundend link"><i class="fab fa-facebook-f"></i></a>
                <a href="#lien-instagram" class="icon-roundend link"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
