<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Artiamour | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" sizes="128x128" href="/favicons/icon-128.jpg">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("dist/app.css") }}">
        {% endblock %}
    </head>
    <body>
        {% set route = app.request.get('_route') %}
        <header class="header">
            <a href="{{ path("app_home") }}" class="logo">
                <img src="/images/logo1.jpg" alt="logo">
            </a>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="nav">
                <a href="{{ path("app_home")}}" class="nav-item {% if('_home' in route) %}active{% endif %}">Home</a>
                <a href="{{ path("app_product")}}" class="nav-item  {% if('_product' in route) %}active{% endif %}">Produits</a>
                <a href="{{ path("app_about")}}" class="nav-item  {% if('_about' in route) %}active{% endif %}">A propos</a>
                <a href="{{ path("app_contact")}}" class="nav-item  {% if('_contact' in route) %}active{% endif %}">Contact</a>
                {% if app.user %}
                    <a href="{{ path('admin_home')}}" class="btn btn-primary btn-sm">Administration</a>
                {% endif %}
            </nav>
        </header>
        
        {% block body %}
        {% endblock %}

        <footer class="footer">
            <div class="footer-link">
                <h5 class="text-primary">Lien</h5>
                <ul>
                    <li><a href="{{ path("app_home") }}" class="link">Home</a></li>
                    <li><a href="{{ path("app_product") }}" class="link">Produit</a></li>
                    <li><a href="{{ path("app_about") }}" class="link">A propos de nous</a></li>
                    <li><a href="{{ path("app_contact") }}" class="link">Contact</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h5 class="text-primary">Nous contacter</h5>
                <ul>
                    <li>
                        <a href="mailto:artiamourhw@gmail.com" class="link"><i class="far fa-envelope"></i>artiamourhw@gmail.com</a>
                    </li>
                    <li>
                        <span><i class="fas fa-phone"></i> +261 38 33 612 57</span>
                    </li>
                    <li>
                        <a href="#lien-facebook" class="link"><i class="fab fa-facebook-f"></i> Artiamour</a>
                    </li>
                    <li>
                        <a href="#lien-instagram" class="link"><i class="fab fa-instagram"></i> Arti_amour</a>
                    </li>
                </ul>
            </div>
            <div class="footer-service">
                <h5 class="text-primary">Conditions générales de vente</h5>
                <span class="text-inline">Merci de bien lire nos conditions de vente avant d’effectuer votre achat (
                    <a href="{{ path('app_cgv')}}" class="link-underlined"> Lire les conditions générales de vente</a>)
                </span>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset("dist/app.js")}}"></script>
        {% endblock %}
    </body>
</html>
