{{ form_start(form)}}
    <div>
        {{ form_row(form.name)}}
    </div>           
    <div class="mt-2">
        {{ form_row(form.price)}}
    </div>
    <div class="mt-2">
        {{ form_row(form.matter)}}
    </div> 
    <div class="mt-2">
        {{ form_row(form.colors)}}
    </div> 
    <div class="mt-2">
        <input type="checkbox" 
            {% if form.vars.value.colors == "Toutes couleurs disponible" %}
                {{ 'checked' }}
            {% endif %}
            name="colors_all" id="colors_all"
        />
        <label>Toutes couleurs</div>
    </div>

    <div class="mt-2">
        {{ form_row(form.image)}}
    </div>  
    <button class="btn-secondary mt-2">Enregistrer</button> 
    <a href="{{ path("admin_home") }}" class="btn-danger mt-2">Annuler</a>   
{{ form_end(form)}}